{% extends 'base.html' %}
{% block body %}

<div class="container">
    <title>Акции MOEX Москвоская биржа</title>
    <h1>MOEX (Московская биржа)</h1>

    <!--<h2>Актуальность на {{ timeDMY }} {{ timeHMS }}</h2> -->
    <p><span style="color: lightblue;">Актуальность на <u>{{ time }}</u></span>
    <div class="alert alert-info">
            <h2>GAZP - Газпром</h2>
            <p>Цена - {{GAZP}} ₽</p>
            <!-- <p>Цена на {{ timeDMY }} {{ timeHMS }}</p> -->
            <a href="https://www.google.com/finance/quote/GAZP:MCX" class="btn btn-info">Подробнее</a>
    </div>
    <div class="alert alert-info">
            <h2>LKOH - Лукоил</h2>
            <p>Цена - {{LKOH}} ₽</p>
            <!-- <p>Цена на {{ timeDMY }} {{ timeHMS }}</p> -->
            <a href="https://www.google.com/finance/quote/LKOH:MCX" class="btn btn-info">Подробнее</a>
    </div>
    <div class="alert alert-info">
            <h2>SBER - Сбербанк</h2>
            <p>Цена - {{SBER}} ₽</p>
            <!-- <p>Цена на {{ timeDMY }} {{ timeHMS }}</p> -->
            <a href="https://www.google.com/finance/quote/SBER:MCX" class="btn btn-info">Подробнее</a>
    </div>
    <div class="alert alert-info">
            <h2>YNDX - Яндекс</h2>
            <p>Цена - {{YNDX}} ₽</p>
            <!-- <p>Цена на {{ timeDMY }} {{ timeHMS }}</p> -->
            <a href="https://www.google.com/finance/quote/YNDX:MCX" class="btn btn-info">Подробнее</a>
    </div>
    <div class="alert alert-info">
            <h2>ROSN - Роснефть</h2>
            <p>Цена - {{ROSN}} ₽</p>
            <!-- <p>Цена на {{ timeDMY }} {{ timeHMS }}</p> -->
            <a href="https://www.google.com/finance/quote/ROSN:MCX" class="btn btn-info">Подробнее</a>
    </div>
    <div class="alert alert-info">
            <h2>TCSG - TCS Group Holding</h2>
            <p>Цена - {{TCSG}} ₽</p>
            <!-- <p>Цена на {{ timeDMY }} {{ timeHMS }}</p> -->
            <a href="https://www.google.com/finance/quote/TCSG:MCX" class="btn btn-info">Подробнее</a>
    </div>
    <div class="alert alert-info">
            <h2>VKCO - VK Company</h2>
            <p>Цена - {{VKCO}} ₽</p>
            <!-- <p>Цена на {{ timeDMY }} {{ timeHMS }}</p> -->
            <a href="https://www.google.com/finance/quote/VKCO:MCX" class="btn btn-info">Подробнее</a>
    </div>
    <div class="alert alert-info">
            <h2>AFLT - ОАО Аэрофлот</h2>
            <p>Цена - {{AFLT}} ₽</p>
            <!-- <p>Цена на {{ timeDMY }} {{ timeHMS }}</p> -->
            <a href="https://www.google.com/finance/quote/AFLT:MCX" class="btn btn-info">Подробнее</a>
    </div>
    <div class="alert alert-info">
            <h2>VTBR - ВТБ RTS ПАО</h2>
            <p>Цена - {{VTBR}} ₽</p>
            <!-- <p>Цена на {{ timeDMY }} {{ timeHMS }}</p> -->
            <a href="https://www.google.com/finance/quote/VTBR:MCX" class="btn btn-info">Подробнее</a>
    </div>
    <div class="alert alert-info">
            <h2>MGNT - ОАО Магнит</h2>
            <p>Цена - {{MGNT}} ₽</p>
            <!-- <p>Цена на {{ timeDMY }} {{ timeHMS }}</p> -->
            <a href="https://www.google.com/finance/quote/MGNT:MCX" class="btn btn-info">Подробнее</a>
    </div>
</div>
{% endblock %}